.add_task {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.add_task input {
    width: 90%;
    padding: 1.5%;
    border: 1px solid #ececec;
    border-radius: 4px;
}
.add_task button {
    margin-top: 2%;
    width: 93%;
    padding: 1.5%;
    border: none;
    border-radius: 4px;
    background-color: #377BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
}